/* ================================
   VARIABLES Y RESET
=================================== */
:root {
  --color-primario: #0077b6;
  --color-secundario: #00b4d8;
  --color-fondo: #f9f9f9;
  --color-texto: #333;
  --max-width: 1200px;
  --espaciado: 1.5rem;
  --borde-radio: 0.75rem;
}

$primary-color: #FA5400;
$secondary-color: #00A7FA;
$blanco: #fff;
$negro: #333;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  line-height: 1.6;
  color: var(--color-texto);
  background-color: var(--color-fondo);
  margin: 0 auto;
  max-width: 100%;
}



body {
  margin: 0;  
  background: $blanco;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $negro;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

header h1{
  text-align: center;
  color: #1a4d7a;
  margin-bottom: 1rem;
}


.swiper {
  width: 80%;
  height: 400px;
  margin: 5px auto;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    color: $secondary-color;
}

.swiper-pagination-bullet{
  color: $primary-color;
  border: 2px solid $primary-color;
}



.main-header,
.main-footer {
  background-color: $primary-color;
  color: $blanco;
  text-align: center;
  padding: 1rem;
}

/* =======================================
   HEADER RESPONSIVE
======================================= */

/* Contenedor principal */
.main-header {  
  padding: 1rem 2rem;
}

.main-header .navbar{
  display: flex;
  justify-content: flex-end;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  flex-wrap: wrap; /* permite que los elementos se acomoden */
}

/* Logo */
.logo a {
  text-decoration: none;
  color: $blanco;
  font-size: 1.25rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: var(--color-secundario);
}

/* Lista de enlaces */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: $blanco;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--color-secundario);
}

/* =======================================
   MEDIA QUERIES
======================================= */

/* Tablets (pantallas menores de 768px) */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 0.75rem;
  }

  .nav-links a {
    display: block;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--borde-radio);
    width: 100%;
  }

  .logo a {
    font-size: 1.5rem;
  }
}

/* Smartphones (menores de 480px) */
@media (max-width: 480px) {
  .main-header {
    padding: 0.75rem 1rem;
  }

  .navbar {
    align-items: center;
  }

  .logo a {
    font-size: 1.2rem;
    text-align: center;
  }

  .nav-links {
    align-items: center;
  }

  .nav-links a {
    font-size: 1rem;
    text-align: center;
  }
}

.hero {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.intro {
  text-align: center;
  padding: 2rem;
  background-color: $blanco;
}


.main-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-direction: column;
  // flex-wrap: wrap;
}

.card {
  background: $blanco;
  border: 1px solid #ddd;
  padding: 1.5rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card a {
  text-decoration: none;
  color: $primary-color;
  font-weight: bold;
}

.main-links-image img{
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;  
  box-shadow: 0 2px 8px #0000001a;
}

.clip-mapa img {
  width: 100%;
  height: auto;
  clip-path: polygon(
    0% 5%,
    85% 0%,
    95% 20%,
    90% 45%,
    100% 70%,
    80% 95%,
    50% 85%,
    20% 100%,
    0% 70%,
    10% 40%
  );
}


/* ================================
   CONTENIDO PRINCIPAL
=================================== */
.main-todas {
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 0 var(--espaciado);
}

.main-portada{
  margin-top: 0 !important;
}

section h2 {
  font-size: 1.6rem;
  color: var(--color-primario);
  margin-bottom: 1rem;
  text-align: center;
}

section p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

/* ================================
   LISTADO DE ARTÍCULOS
=================================== */
section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

section.section-video{
  display: flow;
}

article {
  background-color: white;
  border-radius: var(--borde-radio);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

figure img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

figcaption {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  color: #666;
  background-color: #fafafa;
}

article header h3 {
  font-size: 1.3rem;
  color: var(--color-primario);
  margin: 1rem;
}

article p {
  margin: 0 1rem 1rem 1rem;
}

article a {
  display: inline-block;
  margin: 0 1rem 1.5rem 1rem;
  background-color: var(--color-secundario);
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background 0.3s ease;
}

article a:hover {
  background-color: var(--color-primario);
}

@media only screen and (min-width: 992px) {

    .intro {  
    padding: 2rem 10rem;    
  }

}

/* ------------------------------------
   ESTILOS GENERALES DE LA PÁGINA LINKS
---------------------------------------*/

.contenedor-links {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

/* TITULARES */
.contenedor-links h1 {
  font-size: 2rem;
  // margin-bottom: 1rem;
  text-align: center;
  color: #1a4d7a;
}

.contenedor-links h2 {
  font-size: 1.7rem;
  margin-top: 2.5rem;
  color: #2368a2;
  border-left: 4px solid #2368a2;
  padding-left: 0.7rem;
}

.contenedor-links h3 {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  color: #444;
}

/* PÁRRAFOS */
.contenedor-links p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* LISTAS */
.contenedor-links ul {
  padding-left: 1.2rem;
  margin-top: 1rem;
}

.contenedor-links li {
  margin-bottom: 0.6rem;
}

/* ENLACES */
.contenedor-links a {
  color: #0d71b9;
  font-weight: 600;
  text-decoration: underline;
}

.contenedor-links a:hover {
  color: #094d80;
}

/* ARTÍCULOS */
.contenedor-links article {
  background: #f7f9fc;
  padding: 1.2rem;
  margin-top: 1.5rem;
  border-radius: 6px;
  border: 1px solid #e3e8ef;
}

/* ------------------------------
   svg en portada
--------------------------------*/
.flight-container {
  width: 100%;
  overflow: hidden; /* oculta avión fuera del área */
  background: transparent;
  padding: 0;
}

.flight-container svg {
  width: 100%;
  height: 60px;
}

/* Avión */
.plane {
  fill: #333;
  transform: translateX(110%) scaleX(-1);
  animation: fly 7s linear infinite;
}



/* Animación */
@keyframes fly {
  from {
    transform: translateX(200vw) scaleX(-1);
  }
  to {
    transform: translateX(-200px) scaleX(-1);
  }
}


/* ===== Página detalle destino ===== */

/* ===== Vídeo responsive ===== */

/* Contenedor del vídeo */
.video-responsive {
  max-width: 800px;     
  margin: 2rem auto;    
  aspect-ratio: 16 / 9;  
}

/* Iframe */
.video-responsive iframe {
  width: 100%;
  height: 100%;
  border: 0;
}



.detalle-destino {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
}

.detalle-destino figure {
  margin: 1.5rem 0;
}

.detalle-destino img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.detalle-destino figcaption {
  font-size: 0.9rem;
  color: #555;
  margin-top: 0.5rem;
  text-align: center;
}

.imagen-destacada {
  margin: 2rem auto;
  text-align: center;
}

.imagen-destacada img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

/* Tablet */
@media (min-width: 768px) {
  .imagen-destacada img {
    max-width: 800px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .imagen-destacada img {
    max-width: 900px;
  }
}


/* Galería */
.galeria {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.galeria figure {
  margin: 0;
}

.galeria img {
  width: 100%;
  height: 220px;       
  object-fit: cover;  
  border-radius: 8px;
}


/* Imagen principal (destacada) */
.detalle-destino > figure {
  max-width: 600px;   
  margin: 2rem auto;  /* Centrada */
}

.detalle-destino > figure img {
  width: 100%;
  height: auto;
}



/* Tablet */
@media (min-width: 600px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Escritorio */
@media (min-width: 992px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}





/* ------------------------------
   RESPONSIVE DESIGN
--------------------------------*/

/* Tablets */
@media (min-width: 600px) {
  .contenedor-links {
    padding: 3rem 2rem;
  }

  .contenedor-links h1 {
    font-size: 2rem;
  }

  .contenedor-links h2 {
    font-size: 1.6rem;
  }
}

/* Escritorio */
@media (min-width: 900px) {
  .contenedor-links {
    padding: 4rem 0;
  }

  .contenedor-links h1 {
    font-size: 2rem;
  }
    .main-links {   
    flex-direction: row;    
  }

  .main-links-image img,
  .main-links .card{
    height: 200px;
  }  

}





